
@{
    Layout = null;
}

<div class="container body-content mb-2">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div>
            @Html.ActionLink("Pepper", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <ul class="nav navbar-nav">
                    <li class="ml-3">@Html.ActionLink("Customers", "Index", "Customers")</li>
                    <li class="ml-3">@Html.ActionLink("Movies", "Index", "Movies")</li>
                </ul>
            </div>
        </div>
    </nav>
</div>
